.card-body {
  margin: 2rem;
  padding: 2rem;
}
.button {
  margin: 1rem;
}
.button-lg {
  width: 20rem;
}
.m1 {
  margin: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.k-input > *,
.k-picker > * {
  margin: 4px;
}
